:root {
    --subcolor: lightblue;
    --subcolor: #bccada;
}

.hidden-form {
    display: none;
}

.quote-edit {
    white-space: pre-line;
}

.quote-edit-box {
    background-color: rgb(234, 234, 234);
    border: 1px solid gray;
    margin: 0.1rem;
    padding: 0.1rem;
}

.quote-outer-info {
    font-size: 1.2em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote-outer-info a {
    color:navy;
}

.quote-outer-info a:active {
    color:purple;
}

.file-name {
    font-weight: 700;
    font-style: italic;
}

.quote-outer-info-btns {
    display: flex;
    align-items: flex-end;
}

.quote-outer-info-btns button:hover {
    cursor: pointer;
}

.file-actions-btn {
    font-family: Inter Tight, Arial;
    font-size: 1em;
    font-weight: 700;
    color: navy;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    min-width: 4rem;
    overflow: hidden;
    white-space: nowrap;
}

.file-actions-btn:hover {
    color: lightblue;
    background-color: navy;
    border: 1px solid lightblue;
}

.print-outer-container {
    display: flex;
    justify-content: center;
    min-width: 1040px;
}

.print-outer-div {
    width: 1040px;
    overflow: auto;
    box-shadow: 1px 1px 8px gray;
    margin-top: 40px;
    background-color: white;
}

.print-inner-div {
    font-size: 1em;
    line-height: 25px;
    padding: 30px;
    overflow: auto;
}

.quote-top-info {
    position: relative;
    margin: 10px;
    margin-bottom: 50px;
    color:black;
}

.quote-top-name {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2em;
    font-weight: 600;
    color: black;
}

.sender-name {
    font-size: 1.5em;
    line-height: 45px;
    font-weight: 700;
    max-width: 70%;
}

.quote-mid-info {
    margin: 10px;
}

.mid-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    font-size: 1em;
}

.mid-info-heading {
    border-bottom: 1px solid black;
    font-weight: 600;
}

.mid-info-details {
    display: flex;
    flex-direction: row;
}

.mid-info-details-left {
    min-width: 150px;
    text-align: right;
}

.mid-info-details-left-text {
    padding-right: 10px;
    font-weight: 700;
}

.quote-table-info {
    margin-left: 8px;
    margin-right: 24px;
    margin-top: 35px;
}

.items-table {
    width: 105%;
    padding: 10px;
    white-space: pre-line;
    word-break: break-word;
    overflow-wrap: break-word;
    border-collapse: collapse;
}

.items-table th,
.items-table td {
    table-layout: fixed;
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    text-align: center;
    padding: 5px;
    table-layout: auto;
}

.items-table th:first-child,
.items-table tbody td:first-child {
    border-left: 1px solid black;
}

.items-table th:first-child,
.items-table tbody td:first-child {
    border-left: 1px solid black;
}

.items-table th {
    background-color: var(--subcolor);
}

.items-table th:last-child,
.items-table tbody td:last-child {
    border: none;
    background-color: transparent;
}

.row-delete {
    background-color: transparent!important;
    white-space: nowrap;
    visibility: hidden;
    opacity: 30%;
}

.row-delete:hover {
    opacity: 100%;
}

.row-delete svg {
    width: 1rem;
}

.item-index {
    width: 6%;
}

th.item-description, td.item-description {
    text-align: left;
    padding-left: 7px;
    width: 40%;
}

.item-unit {
    width: 13%;
}

.item-rate {
    width: 18%;
}

.item-total {
    width: 18%;
}

.items-plus {
    border-top: 0;
    border-right: 0;
    background-color: rgb(234, 234, 234);
    cursor: pointer;
    display: none;
}

.items-plus td{
    border: 0.1rem dashed rgb(133, 133, 133);
}

.items-plus:hover {
    background-color: rgb(179, 179, 179);
}


.quote-total-container {
    font-weight: 700;
    font-size: 1.2em;
}

.quote-total-container td {
    border: none;
}

.quote-total-container td.total-empty,
.quote-total-container td.total-amount {
    border-top: 1px solid black;
}

td.total-amount {
    text-align: right;
    padding-right: 6px;
    vertical-align: middle;
}

td.total-money {
    padding: 12px;
    border: 1.5px solid black;
    position: relative;
}

.dollar-sign {
    position: absolute;
    left: 0.5rem;
}

.quote-btm-info {
    margin-left: 8px;
    margin-right: 24px;
    margin-top: 60px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.quote-btm-info p {
    padding: 5px;
    padding-left: 10px;
    line-height: 22px;
}

.quote-btm-info-head {
    border-bottom: 1px solid black;
    font-weight: 700;
    background-color: var(--subcolor);
}
