@media screen and (min-width: 65rem) {
    .main-page-grid {
        grid-template-columns: 1fr 1fr;

    }
    .summary, .main-grid-head {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .latest {
        grid-row-start: 4;
    }
}

.main-page-grid {
    display: grid;
    padding: 0 5% 0 5%;
    column-gap: 2rem;
    row-gap: 2rem;
    min-width: 35rem;
}


.main-grid-head {
    text-align: center;
}

.main-grid {
    border: 3px solid lightblue;
    border-radius: 2rem;
    background-color: lightblue;
    font-size: 1.1em;
    text-align: center;
    padding: 1rem 3rem 3rem 3rem;
}

.main-grid-display {
    display: block;

}

.not-available {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.summary {
    margin: auto;
    padding: 2rem;
    font-size: 1.2em;
    line-height: 1.4em;
    white-space: nowrap;
}

.latest-table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

.latest-table,
.latest-table th,
.latest-table td {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 0.5em;
}

.latest-table td:first-child {
    text-align: left;
}

.latest-table td:last-child {
    text-align: right;
    width: 30%;
}

.main-grid:hover {
    border: 3px solid white;
}

.latest-table tr:hover {
    background-color: white;
    cursor: pointer;
}

.latest-table-date, .latest-table-title {
    white-space: nowrap;
}

.latest-table-title {
    overflow: hidden;
    text-overflow: ellipsis;
}