.register-appname {
    background-color: lightblue;
    color: navy;
    font-weight: 700;
    padding: 6px 8px 6px 8px;
    border-radius: 3px;
    margin: 4px;
    box-shadow: 2px 2px 3px;
}

.register-head {
    text-align: center;
    padding: 15px;
}

.register-body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-body {
    background-color: navy;
    border-radius: 2rem;
    padding: 4rem;
}

.register-blocks-wrapper {
    text-align: center;
}

.register-blocks {
    padding: 15px;
    display: inline-block;
    text-align: left;
}

.register-blocks label, .register-input {
    display: block;
    line-height: 1.1em;
    font-size: 1em;
    max-width: 13em;
    color: white;
}

.register-blocks label {
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.register-input {
    padding: 8px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 5px;
    border: solid 1px rgb(216, 216, 216);
    line-height: 21px;
    font-family: Inter Tight, Arial;
    resize: none;
    color: black;
}

.req::after {
    content: '*';
    color: rgb(222, 12, 12);
}

.register-input-details {
    height: 4em;
}

.small {
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
}

.register-submitbtn {
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    background-color: lightblue;
    color: navy;
    border: solid 2px navy;
    border-radius: 6px;
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.8);
}

.register-submitbtn:hover{
    background-color: navy;
    color: lightblue;
}

.error-msg {
    color: red;
    font-size: 0.9em;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    max-width: 12rem;
}