{% extends "template.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form method="post">
    <div class="changepw">
        <h2 class="changepw-header">Change your password</h2>
        {{ reset_form.old.label }}
        <div class="changepw-inputs">{{ reset_form.old }}
            {% for error in reset_form.old.errors %}
            <p class="pw-error">{{ error }}</p>
            {% endfor %}
        </div>

        {{ reset_form.new.label }}
        <div class="changepw-inputs">{{ reset_form.new }}
            {% for error in reset_form.new.errors %}
            <p class="pw-error">{{ error }}</p>
            {% endfor %}
        </div>

        {{ reset_form.confirm.label }}
        <div class="changepw-inputs">{{ reset_form.confirm }}
            {% for error in reset_form.confirm.errors %}
            <p class="pw-error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="changepw-submit"><button>Submit</button></div>
    </div>
</form>
{% endblock %}